body{
    background: url("../images/bg3.jpg");
}
#astrowin{
    background: url("../images/blockbg.jpg");
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 25px rgba(255,255,255,0.7);
    -moz-box-shadow: 0px 0px 25px rgba(255,255,255,0.7);
    box-shadow: 0px 0px 25px rgba(255,255,255,0.7);

}
.shadowing, .sociallocker {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    -webkit-box-shadow: 5px 5px 7px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 5px 7px rgba(0,0,0,0.08);
    box-shadow: 5px 5px 7px rgba(0,0,0,0.08);
    background: #f5f5f5;
    margin: 10px 5px;
}
.textshadow{
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    padding: 15px;
    color: white;
}
.attention {
    color: orangered;
}
.ourgoro{
    width: 108px;
    height: 125px;
    float: left;
    text-align: center;
    border-radius: 15px;
    border: 1px solid grey;
    margin: 0 20px 40px 27px;
    padding: 0;
    background: #fff;
    background: url('/images/action/goroback.png');
}
.ourgoro a.more{
    display: block;
    text-decoration: none;
    margin: 0;
    color: darkgrey;
    padding-top: 50px;
    padding-bottom: 60px;
}
.ourgoro a.more b{
    font-size: 16px;
}
#_love{
    background: url('/images/love.png') no-repeat;
    background-size: 100%;
}
#_love a{
    color: deeppink;
}
#_love a b:before{
    content: 'Любовь';
}
#_sex{
    background: url('/images/sex.png') no-repeat;
    background-size: 100%;
}
#_sex a{
    color: deeppink;
}
#_sex a b:before{
    content: 'Секс';
}
#_auto{
    background: url('/images/auto.png') no-repeat;
    background-size: 100%;
}
#_auto a{
    color: goldenrod;
}
#_auto a b:before{
    content: 'Авто';
}
#_health{
    background: url('/images/health.png') no-repeat;
    background-size: 100%;
}
#_health a{
    color: red;
}
#_health a b:before{
    content: 'Здоровье';
}
#_holyday{
    background: url('/images/holyday.png') no-repeat;
    background-size: 100%;
}
#_holyday a{
    color: orangered;
}
#_holyday a b:before{
    content: 'Отпуск';
}
#_finance{
    background: url('/images/finance.png') no-repeat;
    background-size: 100%;
}
#_finance a{
    color: green;
}
#_finance a b:before{
    content: 'Финансы';
}
#_business{
    background: url('/images/business.png') no-repeat;
    background-size: 100%;
}
#_business a{
    color: blue;
}
#_business a b:before{
    content: 'Бизнес';
}
.aspday{
    width: 70px;
    overflow: hidden;
}
.aspday, .aspday *{
    background-color: #ffff00;
    font-family: fantasy;
    font-size: 12px;
    padding: 2px 3px;
}
.aspday b {
    text-align: center;
    font-weight: normal;
}
.info{
    text-align: justify;
}
