ServerSignature Off
AddDefaultCharset UTF-8

RewriteEngine On

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    #Запрет вхождения для ботов
    RewriteCond %{HTTP_USER_AGENT} AhrefsBot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} MJ12bot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} Detectify
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} dotbot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} Riddler
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} SemrushBot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} LinkpadBot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} BLEXBot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} FlipboardProxy
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} aiHitBot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} trovitBot
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTP_USER_AGENT} MegaIndex
    RewriteRule (.*) - [F,L]

    RewriteCond %{HTTP_HOST} ^admin\.(.*)$ [NC]
    RewriteRule ^(.*)$ /_admin/$1 [L,QSA] # HTTP -> HTTPS

    RewriteCond %{HTTP_HOST} !^(admin\.)?astro.local$ [NC]
    RewriteRule .* https://astro.local%{REQUEST_URI} [R=301,L]

    # HTTP -> HTTPS
#    RewriteCond %{ENV:HTTPS} !on
#    RewriteRule (.*) https://astro.local%{REQUEST_URI} [QSA,L]

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
    RewriteRule ^index\.php$ / [R=301,L]

    # Редирект на страницу без многократных /.
    RewriteCond %{THE_REQUEST} //
    RewriteRule .* /$0 [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain text/html
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE text/xml application/xml application/xhtml+xml application/rss$
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject application/x-font-ttf font/open$
</ifModule>


<IfModule mod_expires.c>
    ExpiresActive On

    # Default a cache expiration
    ExpiresDefault "access plus 10 month"

    # Images
    ExpiresByType image/gif                 "access plus 1 month"
    ExpiresByType image/png                 "access plus 1 month"
    ExpiresByType image/jpg                 "access plus 1 month"
    ExpiresByType image/jpeg                "access plus 1 month"
    ExpiresByType image/webp                "access plus 1 month"

    # CSS, JavaScript
    ExpiresByType text/css                  "access plus 1 year"
    ExpiresByType application/javascript    "access plus 1 year"
    ExpiresByType text/javascript           "access plus 1 year"
</IfModule>
